*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contactUs-wrapper{
    overflow: hidden;
}
.contactUs-container{
    display: flex;
    position: relative;
    top: 2rem;
    width: 100vw;
    height: 60rem;
    justify-content: space-between;
    background-color: #ffeeee;

}
.contact-heading{
    position: absolute;
    top: 5rem;
    font-size: 64px;
    font-weight: bolder;
    display: inline-block;
    line-height: 74px;
    height: 74px;
    margin-left: 13%; 
}
.navto-home-contact{
    display: flex;
    position: absolute;
    top: 18rem;
    left: 70%;
    font-size: 24px;
    gap: 10px;
    line-height: 32px;
    align-items: center;
}
.contact-para{
    position: absolute;
    top: 10rem;
    margin-left: 13%;
    max-width: 630px;
    font-size: 24px;
    line-height: 42px;
    color: #777777;
}
.olive-img{
position: absolute;
top: 12rem;
}
.onion-img{
    position: absolute;
    left: 55%;
    top: 3rem;
}
.tamato-img{
    position: absolute;
    left: 90%;
    top: 32rem;
}
.leaf-img{
    position: absolute;
    right: -2rem;
    top: 1rem;
}
.sub-heading-container{
    /* width: 100%; */
    /* height: 100vh; */
    /* background-color: #ffffff; */

}
.sub-heading{
    position: absolute;
    top: 40%;
    font-size: 22px;
    line-height: 38px;
    color: #f22e3e;
    font-weight: bolder;
    margin-left: 13%;
}

.horizonal-line{
    position: absolute;
    top: 40%;
    left: 22%;
    color: #f22e3e;
    font-size: 25px;
}

.sendUs-heading{
     position: absolute;
     top: 45%;
     margin-left: 13%;
     font-size: 40px;
     line-height: 55px;
     font-weight: 900;
}
.name-input{
    position: absolute;
    left: 10%;
    top: 53%;
    margin-left: 3%;
    width: 320px;
    height: 50px;
    border: 1px solid #d1d0d0;
    font-size: 16px;
    line-height: 24px;
    border-radius: 6px;
    padding-left: 20px;
}
.email-input{
    position: absolute; 
    left: 10%;
    top: 53%;
    left: 32%;
    width: 320px;
    height: 50px;
    border: 1px solid #d1d0d0;
    font-size: 16px;
    line-height: 24px;
    border-radius: 6px;
    padding-left: 20px;
}

.phone-input{
    position: absolute;
    top: 60%;
    margin-left: 13%;
    width: 320px;
    height: 50px;
    border: 1px solid #d1d0d0;
    font-size: 16px;
    line-height: 24px;
    border-radius: 6px;
    padding-left: 20px;
    
}
.website-input{
    position: absolute; 
    left: 10%;
    top: 60%;
    left: 32%;
    width: 320px;
    height: 50px;
    border: 1px solid #d1d0d0;
    font-size: 16px;
    line-height: 24px;
    border-radius: 6px;
    padding-left: 20px;
}
.message-field{
    position: absolute;
    top: 70%;
    margin-left: 13%;
    border: 1px solid #d1d0d0;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
}
.right-img{
    position: absolute;
    left: 52%;
    top: 30%;
    width: 680px;
    height: 553px;
    border-radius: 40px;
}
.send-msg-btn{
    position: absolute;
    top: 85%;
    margin-left: 13%;
    width: 230px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: #f22e3e;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    line-height: 32px;
}
.send-msg-btn:hover{
    background-color: #ffeeee;
    border: 3px solid #f22e3e;
    transition: 0.75s all;
    color: #111111;
}
