
.alert {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
  }
  

  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
 
  .alert a {
    font-weight: 600;
    color: #721c24;
  }
  