* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  width: auto;
  background-color: white;
  position: relative;
  z-index: 0;
  /* z-index: 1; */
  overflow-x: hidden;
}

.active-link{
  color: red;
}