@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat:wght@600&family=Mulish:wght@300;400&family=Roboto&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dropdown {
  margin-right: 1.5rem;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 105;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 105;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: #fc3164;
  /* transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35); */
}

.background--on {
  background: #3dbf87;
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}

.toggle-body {
  width: 7rem;
  height: 4rem;
  position: absolute;
  top: calc(50% - 4rem / 2);
  left: calc(50% - 7rem / 2);
  background: white;
  border-radius: 2rem;
  transform: rotate(0deg);
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}

.toggle-body--on {
  transform: rotate(180deg);
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}

.toggle-btn {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: calc(50% - 2rem / 2);
  left: calc(27% - 2rem / 2);
  background: white;
  border-radius: 2rem;
  background: #fc3164;
  cursor: pointer;
  transform: rotate(0deg);
  transform-origin: 130% 115%;
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}

.toggle-btn--on {
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  transform: rotate(-357deg);
  background: #3dbf87;
  transform-origin: 130% 150%;
}

.custom-column {
  /* width: 33.33%; Set the width to create a 3-column layout */
  float: left; /* Float the columns to make them inline */
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 1rem; /* Add padding as needed */
}

.item-heading {
  font-size: 17px;
  /* line-height: 20px; */
  text-align: start;
  letter-spacing: 0.3px;
  margin-top: 10px;
  margin-left: 8px;
}

.item-desc {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 13px;
  margin-left: 8px;
  /* margin-top: 5px; */
  line-height: 18px;
  color: #a5a3a3;
}
.img-fluid {
  height: 151px;
  width: 273px;
  border-radius: 10px;
  align-self: center;
}
/* .flex-container {
  display: flex;
  justify-content: space-between;
 } */
.varients {
  width: 100%;
  margin: 0.25rem;
}
.varients p {
  margin: 10px;
}

.Quantity {
  width: 100%;
  margin: 0.25rem;
}
.Quantity p {
  margin: 10px;
}

.flex-container2 {
  display: flex;
  /* margin-top: 81px; */
  /* flex-direction: column; */
  justify-content: space-around;
  /* margin: 20px; */
  align-items: center;
  /* margin-left: -56px; */
  gap: 95px;
  margin-bottom: 10px;
}
.btn {
  font-size: 15px;
  background: transparent;
  border: 2px solid #f22e3e;
  border-radius: 34px;
  padding: 5px;
  padding-right: 15px;
  padding-left: 12px;
  font-weight: 900;
  color: #f22e3e;
}
.btn:hover {
  background-color: #f22e3e;
  color: #ffffff;
  transition: 0.75s all;
}
.add-to-cart {
  text-align: center;
}

.price {
  /* margin: 0.25rem; */
  /* width: 100%; */
  font-size: 20px;
  margin-left: 10px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
select {
  box-shadow: none;
  border-color: black;
}

.pizza-container {
  /* margin: 100px; */
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  /* flex-direction: column; */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  /* padding: 10px; */
  max-width: 273px;
  height: 338px;
  border-radius: 12px 12px 12px 12px;
  position: relative;
}
.pizza-container:hover {
  transform: scale(1);
  transition: 1s all;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 287px;
  max-height: 31px;
}

.cuisine-btn {
  border: none;
  background: transparent;
}
.cuisine-btn:hover {
  transform: scale(1.05);
  transition: 100ms all;
}

.quantity-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93px;
  height: 30px;
  border: 1px solid #aeaeae;
  margin-right: 12px;
  box-shadow: 1px 1px 3px #777777;
  background-position: 0 0;
  border-radius: 3px;
}
.decrement {
  width: 31px;
  height: 30px;
  background: transparent;
  color: #f22e3e;
  border: none;
  font-size: 27px;
}
.increment {
  width: 31px;
  height: 30px;
  background: transparent;
  color: #f22e3e;
  border: none;
  font-size: 27px;
}
.quantity {
  color: #111111;
}
/* @media screen and (max-width: 1800px) {
  .card-section {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1505px) {
  .flex-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-section {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1350px) {
  .pizza-container {
    width: 280px;
  }

  .card-section {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1070px) {
  .items-container {
    margin-left: -82px;
  }

  .card-section {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 950px) {
  .Nav-bar {
    width: 914px;
  }

  .card-section {
    display: flex;
    flex-wrap: wrap;
    margin-right: -62px;
  }
}

@media screen and (max-width: 860px) {
  .card-section {
    display: flex;
    flex-wrap: wrap;
    gap: 214px;
  }
}

@media screen and (max-width: 700px) {
  .pizza-container {
    width: 348px;
  }
}

@media screen and (max-width: 575px) {
  .card-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pizza-container {
    width: 500px;
    margin-left: 69px;
  }

  .flex-container2 {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 420px) {
  .card-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pizza-container {
    width: 550px;
    height: 546px;
    margin-left: 111px;
  }

  .flex-container2 {
    margin-top: 50px;
  }
} */

